<body>
<!-- Mensaje y unas 5 receras -->
                <div class="mensaje">
                    <h1>Bienvenido a Recetas Culinarias</h1>
                    <h3>En este sitio encontraras una gran variedad de recetas para todo tipo de ocasiones</h3>
                </div>
                <div class="recetas">
                    <div class="titulo">
                        <h1>Receta del día</h1>
                    </div>
                    <div class="cont_recetas">
                        <div class="card">
                            <div class="titCard">
                                <h2>Pollo Asado al horno con papas y cebolla</h2>
                            </div>
                            <div class="estrucCard">
                                <div class="imgCard">
                                    <img src="../assets/images/polloAsado.jpg" alt="Pollo Asado al horno con papas y cebolla">
                                </div>
                                <div class="cardInfo">
                                    <div class="personas">
                                        <h3>Para 4 personas</h3>
                                    </div>
                                    <div class="ingredientes">
                                        <h3>Ingredientes:</h3>
                                        <ul>
                                            <li>1 pollo entero o 4 muslos completos (cuartos traseros)</li>
                                            <li>4 patatas medianas</li>
                                            <li>4 cebollas medianas</li>
                                            <li>Aceite de oliva</li>
                                            <li>Sal y pimienta</li>
                                            <li>Tomillo seco</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recoDia">
                    <div class="titRec">
                        <h1>Recomendación del dia</h1>
                    </div>
                    <div class="estRec">
                        <img src="../assets/images/recomendacion.jpg" alt="Cocinando">
                        <div class="contRec">
                            <div class="titcontRec">
                                <h1>Higiene Personal</h1>
                            </div>
                            <div class="imgcontRec">
                                <img src="../assets/images/manos.png" alt="Lavado de manos">
                            </div>
                            <div class="descripRec">
                                <p>Recuerda tener un lavado frecuente de manos y brazos antes de cocinar</p>
                            </div>
                        </div>
                    </div>
                </div>
            <footer>
                <div class="infoCCreador">
                    <b><p>Realizado por:</p></b>
                    <p>David Alvarado</p>
                    <p>Martin Toledo</p>
                </div>
            </footer>

</body>

