    <head>
        <meta charset="UTF-8">
        <title>Recetas Culinarias</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    <body>
        <div class="contprincipal">
            <div class="headnav">
                <header>
                    <!-- Imagen de fondo de alimentos y en exto blanco Rectas Culinarias -->
                    <img src={{srcImagen}}>
                    <div class="capa">
                      <h1>{{title}}</h1>
                    </div>
                    <!-- Los colores predominantes van a ser el blanco con color miel o cafe  -->
                </header>
                <nav>
                    <!-- El menu se va a desplazar de abajo hacia arriba -->
                    <a href="#" [routerLink]="paginas[0].path" (click)="titulo(1)">{{paginas[0].title}}</a>
                    <a href="#" [routerLink]="paginas[1].path" (click)="titulo(2)"k>{{paginas[1].title}}</a>
                    <a href="#" [routerLink]="paginas[2].path" (click)="titulo(3)">{{paginas[2].title}}</a>
                </nav>
            </div>
            <!--footer>
                <div class="infoCCreador">
                    <b><p>Realizado por:</p></b>
                    <p>David Alvarado</p>
                    <p>Martin Toledo</p>
                </div>
            </footer-->
        </div>
    </body>

<router-outlet></router-outlet>

