<!DOCTYPE html>
<html>
    <head>
        <head>
        <meta charset="UTF-8">
        <title>Sobre Nosotros</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    </head>
    <body>
        <div class="contprincipal">
           <section>
                <div class="contInfo">
                    <div class="conttextimg">
                        <div class="cont1">
                            <div class="texto">
                                <div class="titobj">
                                    <h1>Nuestro Objetivo Principal</h1>
                                </div>
                                <p>
                                    Nuestro objetivo principal es ofrecerte recetas deliciosas y variadas, pero también queremos que sean fáciles de seguir. Sabemos que no todos tienen el mismo nivel de habilidad en la cocina, por lo que nos aseguramos de que nuestras recetas sean accesibles para todo público.
                                </p>

                                <!--
                                    Algunas de nuestras recetas son muy fáciles de preparar, ideales para aquellos que están empezando en el mundo de la cocina. No importa si nunca antes has cocinado, nuestras instrucciones paso a paso te guiarán en el proceso. Verás lo gratificante que es preparar tu propia comida y sorprender a tus invitados.

                                    Por supuesto, también tenemos recetas más difíciles para aquellos que ya tienen experiencia en la cocina. Si te gusta un desafío culinario y quieres probar algo nuevo y emocionante, tenemos opciones para ti. Puedes explorar nuevas técnicas, ingredientes y sabores que seguramente te sorprenderán.

                                    Además de nuestras recetas, también compartimos consejos útiles y trucos de cocina. Queremos que te sientas cómodo en la cocina y que disfrutes de cada momento. A veces, un pequeño truco puede mejor los resultados en la comida

                                -->
                            </div>
                        </div>
                        <div class="imagen">
                            <p>
                                Tenemos recetas para todos los gustos y ocasiones. Desde platos principales hasta postres, pasando por aperitivos y bebidas refrescantes. Queremos que encuentres algo que te guste y que puedas disfrutar con tus seres queridos.
                            </p>
                        </div>
                    </div>
                    <div class="contExtra">
                        <div class="contIguales">
                            <p>
                                Algunas de nuestras recetas son muy fáciles de preparar, ideales para aquellos que están empezando en el mundo de la cocina. No importa si nunca antes has cocinado, nuestras instrucciones paso a paso te guiarán en el proceso. Verás lo gratificante que es preparar tu propia comida y sorprender a tus invitados.
                            </p>
                        </div>
                        <div class="contIguales">
                            <p>
                                Por supuesto, también tenemos recetas más difíciles para aquellos que ya tienen experiencia en la cocina. Si te gusta un desafío culinario y quieres probar algo nuevo y emocionante, tenemos opciones para ti. Puedes explorar nuevas técnicas, ingredientes y sabores que seguramente te sorprenderán.
                            </p>
                        </div>
                        <div class="contIguales">
                            <p>
                                Además de nuestras recetas, también compartimos consejos útiles y trucos de cocina. Queremos que te sientas cómodo en la cocina y que disfrutes de cada momento. A veces, un pequeño truco puede mejor los resultados en la comida
                            </p>
                        </div>
                    </div>
                    <div class="chocolate">
                        <div class="chocCapa">
                            <img src="imagenes/chocolate.jpg" alt="chocalate">
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <div class="infoCCreador">
                    <b><p>Realizado por:</p></b>
                    <p>David Alvarado</p>
                    <p>Martin Toledo</p>
                </div>
            </footer>
        </div>
    </body>
</html>
