/* Color del header: #E5FF00 ???*/

/* Otros colores que se pueden utilizar*/

/*Color 1: #BF9004*/
/*Color 2: #A66D03*/
/*Color 3: #734002*/
/*Color 4: #BF3604*/
/*Color 5: #401607*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/********** HEADER ****************/
header{
    width: 100%;
    height: 300px;
    text-align: center;
    background-color: #F9CE02 ;
    overflow: hidden;
    position: relative;
}

header img{
    width: 100%;
    background-color: #F9CE02;
}

header .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(249,206,2,0.4);
}

header h1{
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow:  0 0 8px rgba(0,0,0,0.8);
}

/************ NAV ************/

nav{
    text-align: center;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    background-color: #F9CE02;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 7px 17px rgba(249,206,2,0.5);
}

nav a{
    width: 150px;
    padding: 7px;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

nav a:hover{
    color: #B56931;
    font-size: 18px;
    font-weight: bold;
}

/****** SECTION ***********/

.contInfo{
    margin-top: 5px;
    width: 100%;
}

.cont1{
    width: 50%;
    background-color: #F9CE02;
}

.titobj{
    text-align: center;
    padding: 10px ;
}

.conttextimg{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.conttextimg .texto{
    padding: 50px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conttextimg .imagen{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px
}

.texto, .imagen, .contIguales p{
    font-size: 18px;
}

.contExtra{
    background-color: #401607;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contIguales{
    border: 1px solid white;
    width: 300px;
    padding: 30px;
    margin: 20px;
}

.chocolate{
    height: auto;
    position: relative;
}

.chocolate img{
    width: 100%;
}

.chocolate .chocCapa{
    width: 100%;
    height: 100%;
}

/** footer ***/
footer{
    background-color: #F9CE02;
    display: flex;
    padding: 7px;
    text-align: center;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
