*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/********** HEADER ****************/
header{
    width: 100%;
    height: 300px;
    text-align: center;
    background-color: #F9CE02 ;
    overflow: hidden;
    position: relative;
}

header img{
    width: 100%;
    background-color: #F9CE02;
}

header .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(249,206,2,0.4);
}

header h1{
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow:  0 0 8px rgba(0,0,0,0.8);
}

/************ NAV ************/

nav{
    text-align: center;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    background-color: #F9CE02;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 7px 17px rgba(249,206,2,0.5);
}

nav a{
    width: 150px;
    padding: 7px;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

nav a:hover{
    color: #B56931;
    font-size: 18px;
    font-weight: bold;
}

/* Section */

 /*************** RECETA DEL DIA   **********/

.filtro{
    justify-content: center;
    display: flex;
}

#busqueda{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 800px;
}

 .recetas{
    margin-top: 30px;
    padding-bottom: 20px;
}

.recetas .titulo{
    text-align: center;
    font-size: 17px;
}

.boton{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.boton input{
    background: #F9CE02;
    border: none;
    padding: 7px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    transition: 0.3s;
}

.boton input:hover{
    cursor: pointer;
    transform: scale(1.07);
}

.recetas .cont_recetas{
    width: 100%;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card{
    width: 900px;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #F6A300;
    height: auto;
}

.titCard{
    text-align: center;
    padding: 10px;
    background-color: #F6A300;
}

.imgCard{
    overflow: hidden;
    width: 30%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCard img{
    width: 250px;
}

.cardInfo{
    padding: 10px;
    width: 70%;
    background-color: #F9CE02;
}

.personas{
    height: 35px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.ingredientes{
    padding: 5px;
}

.ingredientes ul{
    list-style: none;
    margin-top: 5px;
}

.estrucCard{
    display: flex;
    flex-direction: row;
}

.instrucciones{
    padding: 10px;
}


/** footer ***/
footer{
    background-color: #F9CE02;
    display: flex;
    padding: 7px;
    text-align: center;
    height: 100px;
    justify-content: center;
    align-items: center;
}
